body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
#highlighter{
    color: orange;
}
.top-part{
    width: 40%;
    margin-left: 5%;
    padding: 2.5%;
    float: left;
}
.top-part img{
    width: 90%;
}
.top-part p{
    text-align: justify;
}